/Library
/Logs
/Temp
/UserSettings/Layouts
*.csproj
*.sln
*.bak
.DS_Store
/obj
/build
Assets/TextMesh Pro/Documentation
Assets/TextMesh Pro/Documentation.meta
Assets/TextMesh Pro/Glyph Report.*
ProjectSettings/BurstAotSettings_*.json
